/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: orange;
}

/* Main content */
main {
    background-color: aquamarine;
}

/* Footer */
footer {
    background-color: blueviolet;
}